[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-metal = "*"
ipykernel = "*"
tensorflow = "*"
matplotlib = "*"
keras-unet-collection = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
